.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: red;
}

.main-nav .dropdown {  
    position: relative;
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.main-nav .dropdown:hover {
    background-color: darkred;
}

.main-nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: yellow;
    min-width: 160px;
    z-index: 1;
}
.main-nav .dropdown-content span {
    color: white;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 1;
    overflow: visible;
    right: 0;
}

.main-nav .dropdown:hover .dropdown-content {
    display: block;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    width: 100%;
}

.main-nav li {
    float: left;
}

.main-nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
}

.main-nav li a:hover {
    background-color: yellow;
}

body {
    padding-top: 50px;
    z-index: 2;
}
